<!DOCTYPE html>
    <html lang="pt-BR">

    <head>
    <%- include('../partials/head.ejs'); %>
    <link rel="stylesheet" href="/public/css/style-index.css"
    </head>

  <header>
    <%- include('../partials/navbar.ejs'); -%>
  </header>

  <body>
    <section id="showmore" class="section container-fluid">
        <h2>Bem-vindo ao Lycooper!</h2>
        <h4>sinta-se a vontade para utilizar as ferramentas do sistema.<br>
            Clique no botão abaixo para conhecer mais afundo o projeto!</h4>
        <button id="showmore-b">Quero conhecer mais!</button>
    </section>
    |<section id="aboutus" class="section container-fluid d-flex">
        <div class="text" id="title-aboutus">
          <h3>Sobre nós:</h3>
        </div>
        <div class="text" id="text-aboutus">
          <p>lalalalalalalallalalaallalala</p>
          <p>lalalalallalalalalalallalalal</p>
        </div>
    </section>
    <section id="bootstrapc" class="section container-fluid">

    </section>
            
    <footer id="main-footer" class="text-footer text-center footer">
            <div id="footer-brand">Lycooper</div>
    </footer>
  </body>
</html>